body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #fafafa;
    color: #262626;
}

a {
    color: inherit;
    text-decoration: none;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    background-color: none;
}

ion-icon {
    font-size: 24px;
}

button {
    padding: 0px;
    border: none;
    background: none;
    margin: none;
    cursor: pointer;
}

.barra-logo-fixa {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 54px;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.involucro-blf {
    width: 935px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-instagram-1 {
    display: flex;
    align-items: center;
    height: 22px;
}

.logo-instagram-1>* {
    margin-right: 12px;
}

.border-1 {
    width: 0px;
    height: 100%;
    border-left: 1px solid #dbdbdb;
}

.logo-instagram-2 {
    position: relative;
    top: 2px;
}

.caixa-pesquisar {
    width: 262px;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.campo-pesquisar {
    background: #fafafa;
    border: none;
    border-radius: 3px;
    padding: 3px 16px;
    width: 230px;
    height: 30px;
    font-size: 14px;
}

.icones-blf {
    display: flex;
    align-items: center;
}

.icones-blf button {
    margin-left: 24px;
    position: relative;
}

.conteudo-total {
    min-height: 500px;
    width: 907px;
    margin: 88px auto 50px auto;
    display: flex;
    justify-content: space-between;
}

.conteudo-stories-feed {
    width: 614px;
    min-height: 200px;
}

.stories {
    height: 116px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.involucro-stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14px;
    width: 66px;
}

.contorno-stories {
    margin-bottom: 6px;
}

.borda-stories {
    width: 62 px;
    height: 62px;
    padding: 2px;
    border: none;
    border-radius: 50px;
    background: #000000;
}

.borda-branca {
    width: 58px;
    height: 58px;
    padding: 2px;
    background-color: #ffffff;
    border-radius: 50px;
}

.imagem-stories {
    height: 58px;
    width: 58px;
    overflow: hidden;
    border-radius: 50px;
}

.imagem-stories img {
    height: 100%;
}

.borda-cor {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.nome-stories {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    width: 80px;
    text-overflow: ellipsis;
}

.seta-stories {
    width: 45px;
    height: 45px;
    position: absolute;
    display: block;
    right: 8px;
    overflow: hidden;
}

.seta-stories img {
    position: absolute;
    left: -244px;
    top: -107px;
}

.setinha {
    position: absolute;
    padding-top: 28px;
    padding-right: 38px;
}

.posts {
    min-height: 500px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 60px;
}

.posts-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 17px;
}

.posts-topo>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-posts-topo {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    border-radius: 16px;
}

.nome-posts-topo {
    font-weight: 500;
    font-size: 14px;
}

.nome-posts-topo:hover {
    text-decoration: none;
}

.posts>img {
    width: 100%;
}

.posts-corpo {
    padding: 12px 17px;
}

.posts-corpo>* {
    margin-bottom: 8px;
}

.posts-reacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.posts-acoes button {
    margin-right: 16px;
}

.heart-color {
    color: #ed4956;
}

.posts-curtidas {
    display: flex;
    align-items: center;
}

.posts-curtidas img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 10px;
}

.texto-curtidas a {
    font-weight: 500;
}

.comentarios {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comentarios>* {
    display: flex;
}

.comentarios>div>* {
    display: inline;
}

.dono-comentarios {
    margin-right: 5px;
    font-weight: 500;
}

.gostei-comentarios {
    font-size: 18px;
}

.ver-comentarios {
    color: #999999;
}

.tempo-comentarios {
    color: #999999;
    font-size: 10px;
}

.postar-comentarios {
    padding: 12px 17px;
    border-top: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: start;
}

.textarea-comentarios {
    flex: 'flex-grow';
    flex-grow: 4;
    margin: 0 10px;
    resize: none;
    overflow: hidden;
    max-height: 100px;
    height: 20px;
}

.escrever-comentarios {
    color: #b2dffc;
    font-weight: 600;
    transition: 0.3s;
}

.escrever-comentarios:hover {
    color: #0095f6;
}

.posts-video {
    width: 100%;
}

.barra-lateral {
    width: 293px;
    position: fixed;
    right: calc(50vw - 935px/2 - 22px);
}

.meu-perfil {
    margin: 24px 0;
    display: flex;
    align-items: center;
    line-height: 16.41px;
}

.minha-foto {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.texto-perfil {
    padding-left: 17px;
}

.meu-nome {
    font-weight: 500;
}

.meu-nome:hover {
    text-decoration: none;
}

.nome {
    font-weight: 400;
    color: #8e8e8e;
}

.sugestoes-topo {
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 500;
}

.espaco-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sugestoes-texto-1 {
    color: #8e8e8e;
}

.ver-tudo:hover {
    text-decoration: none;
}

.sugestoes {
    height: 32px;
    margin-bottom: 16px;
}

.sugestoes-perfil {
    display: flex;
    align-items: center;
    height: 100%;
}

.sugestoes-imagem {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}

.sugestoes-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sugestoes-texto-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 11px;
    height: 100%;
}

.sugestoes-nome {
    font-weight: 500;
}

.sugestoes-status {
    font-size: 12px;
    color: #8e8e8e;
}

.seguir {
    font-weight: 500;
    font-size: 12px;
    color: #139ef2;
}

.seguir:hover {
    text-decoration: none;
}

.rodape {
    margin-top: 33px;
}

.rodape p {
    font-size: 11px;
    line-height: 17px;
    color: #c7c7c7;
    margin-bottom: 18px;
}

.ocultar-2 {
    display: none;
}

@media only screen and (max-width: 935px) {
    .involucro-blf {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }
    .conteudo-total {
        width: 614px;
    }
    .campo-pesquisar {
        width: 100%;
    }
    .caixa-pesquisar {
        flex-shrink: 2;
        margin: 0 40px 0 20px;
    }
    .ocultar-3 {
        display: none;
    }
    .mostrar-3 {
        display: inherit;
    }
}

@media only screen and (max-width: 614px) {
    .ocultar-1 {
        display: none;
    }
    .mostrar-1 {
        display: inherit;
    }
    .barra-logo-fixa {
        height: 44px;
    }
    .involucro-blf {
        margin-left: 0px;
    }
    .stories {
        background-color: #ffffff;
        border-radius: 0px;
        margin-bottom: 0px;
        height: 121px;
    }
    .conteudo-total {
        margin-top: 44px;
        width: 100%;
    }
    .conteudo-stories-feed {
        width: 100%;
    }
    .posts {
        border-radius: 0px;
        border: none;
        margin-bottom: 30px;
    }
    .caixa-pesquisar {
        width: auto;
        margin: 0;
    }
    .postar-comentarios {
        display: none;
    }
    .icones-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 44px;
        color: none;
        background-color: #ffffff;
        border-top: 1px solid #dbdbdb;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 5;
    }
    body {
        background-color: #ffffff;
    }
}